<script setup lang="ts">
import { ref } from "vue";
import ToolBar from "@/components/ToolBar.vue";
import Footer from "@/components/Footer_1.vue";

const num = ref(-1);
const size = ref(400);
const showTableInfo = ref([
  {
    "ชื่อ-นามสกุล": "อาทิตย์ เมืองศิริ",
    ชื่อเล่น: "เอ็กซ์ตร้า",
    เกิด: "27 มกราคม 2545",
    อายุ: "20 ปี",
    สถานที่ศึกษาปัจจุบัน: "มหาวิทยาลัยบูรพา",
  },
  {
    โรงเรียนระดับอนุบาล: "โรงเรียนศรีอรุณวิทย์เสลภูมิ",
    โรงเรียนระดับประถม: "โรงเรียนศรีอรุณวิทย์เสลภูมิ",
    โรงเรียนระดับมัธยมต้น: "โรงเรียนวินิตศึกษา ในพระราชูปถัมภ์ฯ",
    โรงเรียนระดับมัธยมปลาย: "โรงเรียนพิบูลวิทยาลัย",
    สภานศึกษาปัจจุบัน: "มหาวิทยาลัยบูรพา",
  },
  {
    งานดิเรก: "ฟังเพลง ดูหนัง เล่นดนตรี ถ่ายรูป",
    อาชีพที่สนใจ: "Full Stack Developer (ถ้าเป็นไปได้)",
    แนวหนังที่ชอบ: "ตลก สยองขวัญ โรแมนติก",
    สไตล์การท่องเที่ยว: "แนวป่าๆ ธรรมชาติ ที่ๆสงบเงียบ",
    ความรู้ที่สนใจ: "สุขภาพ เทคโนโลยี จิตวิทยา",
  },
]);
function showInfo(select: number) {
  if (select != -1 && select != num.value) {
    num.value = select;
    size.value = 250;
  } else {
    num.value = -1;
    size.value = 400;
  }
  console.log(showTableInfo.value.length);
}
</script>

<template>
  <container>
    <ToolBar></ToolBar>
    <h1 id="nameProfile">Portfolio</h1>
    <br />
    <!-- <v-avatar image="smirk.png" size="76"></v-avatar> -->

    <v-row>
      <v-col align="center">
        <v-avatar
          :size="size"
          color="black"
          radius="10px"
          style="border: solid orange 5px"
        >
          <v-img src=".\img\extra.JPG" alt="" cover />
        </v-avatar>
        <br />
        <br />
        <br />
        <center>
          <v-btn color="warning" dark @click="showInfo(0)">
            ประวัติส่วนตัว
          </v-btn>
          &nbsp;
          <v-btn color="warning" dark @click="showInfo(1)">
            ประวัติการศึกษา
          </v-btn>
          &nbsp;
          <v-btn color="warning" dark @click="showInfo(2)"> สิ่งที่สนใจ </v-btn>
        </center>
      </v-col>
    </v-row>
    <br /><br />
    <v-row justify="center">
      <v-col cols="5">
        <section v-if="num > -1">
          <v-table style="border: solid orange 5px">
            <tbody>
              <tr v-for="(item, index) of showTableInfo[num]" :key="index">
                <td style="text-align: center; font-size: 15px">
                  {{ index }}: {{ item }}
                </td>
              </tr>
            </tbody>
          </v-table>
        </section>
      </v-col>
    </v-row>
    <Footer v-if="num === -1"></Footer>
  </container>
</template>

<style>
#nameProfile {
  text-align: center;
  font-family: "cursive", Arial, sans-serif;
  font-size: 100px;
  color: orange;
}

body {
  background-color: black;
}

html {
  overflow-y: hidden;
}
</style>
