<script setup lang="ts">
import {
  mdiInstagram,
  mdiFacebook,
  mdiTwitter,
  mdiSteam,
  mdiWhatsapp,
} from "@mdi/js";
</script>
<template>
  <Container>
    <br />
    <v-footer id="footer" color="orange" padless>
      <v-row justify="center" s>
        <v-col class="primary lighten-6 py-3 text-center white--text" cols="12">
          <h1>Contact</h1>
        </v-col>
        <v-col class="primary lighten-2 py-5 text-center white--text" cols="12">
          <v-btn id="btn" :icon="mdiFacebook" cover border="1" />&nbsp;
          <v-btn id="btn" :icon="mdiInstagram" cover />&nbsp;
          <v-btn id="btn" :icon="mdiTwitter" cover />&nbsp;
          <v-btn id="btn" :icon="mdiSteam" cover />&nbsp;
          <v-btn id="btn" :icon="mdiWhatsapp" cover />&nbsp;
        </v-col>
      </v-row>
    </v-footer>
  </Container>
</template>
<style scoped>
#btn {
  border: solid white 2px;
}
</style>
