<script lang="ts" setup></script>
<template>
  <v-toolbar
    dark
    prominent
    src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
    color="orange"
  >
    <v-app-bar-nav-icon></v-app-bar-nav-icon>

    <v-toolbar-title style="font-size: 25px; font-weight: bolder"
      >My Profile</v-toolbar-title
    >

    <v-spacer></v-spacer>
  </v-toolbar>
</template>
<script></script>
