<template>
  <v-app :theme="theme">
    <!-- <ToolBar> </ToolBar> -->

    <v-navigation-drawer expand-on-hover rail permanent color="black">
      <v-list>
        <v-list-item
          prepend-avatar=".\img\extra.JPG"
          title="Arthit Muangsiri"
          subtitle="63160085@go.buu.ac.th"
          cover
        ></v-list-item>
      </v-list>

      <!-- line -->
      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiFolder"
          title="My Files"
          value="myfiles"
          to="/my-files-view"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiAccountMultiple"
          title="My Profile"
          value="shared"
          to="/share-with-me"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiStar"
          title="Starred"
          value="starred"
          to="/starred"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <RouterView></RouterView>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  // mdiVuetify,
  // mdiAbacus,
  mdiStar,
  mdiAccountMultiple,
  mdiFolder,
  // mdiCheckboxMarkedCircle, //from https://next.vuetifyjs.com/en/components/icons/
} from "@mdi/js"; // import icon from https://materialdesignicons.com/
// import ToolBar from "./components/ToolBar.vue";

const theme = ref("dark");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>
